# Perser de sentencias para Trailer Id

In [3]:
import pandas as pd

In [4]:
data_raw = pd.read_csv("https://raw.githubusercontent.com/jrartd/data-analytics/master/867162027426394_data_Trailer_ID.csv",
                       sep=";",header=None, parse_dates=[1])
data_raw.head(5)

,0,1,2
0,Fecha,Tipo Mensaje,Mensaje
1,2019/10/01 9:38:27 PM,POWEROFF,"+RESP:GTPFA,27860E,867162027426394,gv300wins,2..."
2,2019/10/01 9:28:47 PM,INFO,"+RESP:GTINF,27860E,867162027426394,gv300wins,1..."
3,2019/10/01 9:27:45 PM,GPS,"+RESP:GTFRI,27860E,867162027426394,gv300wins,,..."
4,2019/10/01 9:26:35 PM,POWERLOW,"+RESP:GTBPL,27860E,867162027426394,gv300wins,3..."

# Manipulación de Datos

In [3]:
data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 3 columns):
0    480 non-null object
1    480 non-null object
2    480 non-null object
dtypes: object(3)
memory usage: 11.3+ KB

In [7]:
data_raw.columns =["Date","Message Type","Sentence"]

In [8]:
data_raw.head()

,Date,Message Type,Sentence
0,Fecha,Tipo Mensaje,Mensaje
1,2019/10/01 9:38:27 PM,POWEROFF,"+RESP:GTPFA,27860E,867162027426394,gv300wins,2..."
2,2019/10/01 9:28:47 PM,INFO,"+RESP:GTINF,27860E,867162027426394,gv300wins,1..."
3,2019/10/01 9:27:45 PM,GPS,"+RESP:GTFRI,27860E,867162027426394,gv300wins,,..."
4,2019/10/01 9:26:35 PM,POWERLOW,"+RESP:GTBPL,27860E,867162027426394,gv300wins,3..."

# Extraer respuesta sin parser

In [9]:
GTIDA = data_raw[data_raw["Sentence"].str.contains(":GTIDA")]
GTIDA

,Date,Message Type,Sentence
130,2019/10/01 10:52:59 AM,ID_AUTHENTICATION,"+RESP:GTIDA,27860E,867162027426394,gv300wins,,..."
133,2019/10/01 10:52:55 AM,ID_AUTHENTICATION,"+RESP:GTIDA,27860E,867162027426394,gv300wins,,..."
159,2019/10/01 10:32:25 AM,ID_AUTHENTICATION,"+RESP:GTIDA,27860E,867162027426394,gv300wins,,..."
160,2019/10/01 10:32:23 AM,ID_AUTHENTICATION,"+RESP:GTIDA,27860E,867162027426394,gv300wins,,..."
178,2019/10/01 10:17:24 AM,ID_AUTHENTICATION,"+RESP:GTIDA,27860E,867162027426394,gv300wins,,..."
179,2019/10/01 10:17:23 AM,ID_AUTHENTICATION,"+RESP:GTIDA,27860E,867162027426394,gv300wins,,..."
196,2019/10/01 10:02:24 AM,ID_AUTHENTICATION,"+RESP:GTIDA,27860E,867162027426394,gv300wins,,..."
197,2019/10/01 10:02:23 AM,ID_AUTHENTICATION,"+RESP:GTIDA,27860E,867162027426394,gv300wins,,..."
215,2019/10/01 9:47:24 AM,ID_AUTHENTICATION,"+RESP:GTIDA,27860E,867162027426394,gv300wins,,..."
216,2019/10/01 9:47:22 AM,ID_AUTHENTICATION,"+RESP:GTIDA,27860E,867162027426394,gv300wins,,..."
233,2019/10/01 9:32:24 AM,ID_AUTHENTICATION,"+RESP:GTIDA,27860E,867162027426394,gv300wins,,..."
234,2019/10/01 9:32:22 AM,ID_AUTHENTICATION,"+RESP:GTIDA,27860E,867162027426394,gv300wins,,..."
252,2019/10/01 9:17:25 AM,ID_AUTHENTICATION,"+RESP:GTIDA,27860E,867162027426394,gv300wins,,..."
253,2019/10/01 9:17:23 AM,ID_AUTHENTICATION,"+RESP:GTIDA,27860E,867162027426394,gv300wins,,..."
269,2019/10/01 9:03:13 AM,ID_AUTHENTICATION,"+RESP:GTIDA,27860E,867162027426394,gv300wins,,..."
270,2019/10/01 9:03:12 AM,ID_AUTHENTICATION,"+RESP:GTIDA,27860E,867162027426394,gv300wins,,..."
276,2019/10/01 9:00:24 AM,ID_AUTHENTICATION,"+RESP:GTIDA,27860E,867162027426394,gv300wins,,..."
277,2019/10/01 9:00:23 AM,ID_AUTHENTICATION,"+RESP:GTIDA,27860E,867162027426394,gv300wins,,..."
295,2019/10/01 8:45:54 AM,ID_AUTHENTICATION,"+RESP:GTIDA,27860E,867162027426394,gv300wins,,..."
296,2019/10/01 8:45:53 AM,ID_AUTHENTICATION,"+RESP:GTIDA,27860E,867162027426394,gv300wins,,..."
408,2019/10/02 9:20:20 AM,ID_AUTHENTICATION,"+RESP:GTIDA,27860E,867162027426394,gv300wins,,..."
410,2019/10/02 9:20:18 AM,ID_AUTHENTICATION,"+RESP:GTIDA,27860E,867162027426394,gv300wins,,..."
425,2019/10/02 9:12:14 AM,ID_AUTHENTICATION,"+RESP:GTIDA,27860E,867162027426394,gv300wins,,..."
426,2019/10/02 9:12:12 AM,ID_AUTHENTICATION,"+RESP:GTIDA,27860E,867162027426394,gv300wins,,..."
432,2019/10/02 9:10:54 AM,ID_AUTHENTICATION,"+RESP:GTIDA,27860E,867162027426394,gv300wins,,..."
433,2019/10/02 9:10:53 AM,ID_AUTHENTICATION,"+RESP:GTIDA,27860E,867162027426394,gv300wins,,..."

In [10]:
GTDIS = data_raw[data_raw["Sentence"].str.contains(":GTDIS")]
GTDIS

,Date,Message Type,Sentence
114,2019/10/01 11:06:06 AM,INPUT_CHANGED,"+RESP:GTDIS,27860E,867162027426394,gv300wins,,..."
115,2019/10/01 11:05:40 AM,INPUT_CHANGED,"+RESP:GTDIS,27860E,867162027426394,gv300wins,,..."
131,2019/10/01 10:52:58 AM,INPUT_CHANGED,"+RESP:GTDIS,27860E,867162027426394,gv300wins,,..."
132,2019/10/01 10:52:57 AM,INPUT_CHANGED,"+RESP:GTDIS,27860E,867162027426394,gv300wins,,..."
146,2019/10/01 10:42:30 AM,INPUT_CHANGED,"+RESP:GTDIS,27860E,867162027426394,gv300wins,,..."
147,2019/10/01 10:42:11 AM,INPUT_CHANGED,"+RESP:GTDIS,27860E,867162027426394,gv300wins,,..."
272,2019/10/01 9:01:46 AM,INPUT_CHANGED,"+RESP:GTDIS,27860E,867162027426394,gv300wins,,..."
274,2019/10/01 9:01:20 AM,INPUT_CHANGED,"+RESP:GTDIS,27860E,867162027426394,gv300wins,,..."
294,2019/10/01 8:46:01 AM,INPUT_CHANGED,"+RESP:GTDIS,27860E,867162027426394,gv300wins,,..."
297,2019/10/01 8:45:44 AM,INPUT_CHANGED,"+RESP:GTDIS,27860E,867162027426394,gv300wins,,..."
407,2019/10/02 9:20:22 AM,INPUT_CHANGED,"+RESP:GTDIS,27860E,867162027426394,gv300wins,,..."
409,2019/10/02 9:20:20 AM,INPUT_CHANGED,"+RESP:GTDIS,27860E,867162027426394,gv300wins,,..."
413,2019/10/02 9:17:48 AM,INPUT_CHANGED,"+RESP:GTDIS,27860E,867162027426394,gv300wins,,..."
414,2019/10/02 9:17:47 AM,INPUT_CHANGED,"+RESP:GTDIS,27860E,867162027426394,gv300wins,,..."
423,2019/10/02 9:12:15 AM,INPUT_CHANGED,"+RESP:GTDIS,27860E,867162027426394,gv300wins,,..."
424,2019/10/02 9:12:14 AM,INPUT_CHANGED,"+RESP:GTDIS,27860E,867162027426394,gv300wins,,..."
427,2019/10/02 9:12:08 AM,INPUT_CHANGED,"+RESP:GTDIS,27860E,867162027426394,gv300wins,,..."
428,2019/10/02 9:12:06 AM,INPUT_CHANGED,"+RESP:GTDIS,27860E,867162027426394,gv300wins,,..."
430,2019/10/02 9:11:00 AM,INPUT_CHANGED,"+RESP:GTDIS,27860E,867162027426394,gv300wins,,..."
431,2019/10/02 9:10:58 AM,INPUT_CHANGED,"+RESP:GTDIS,27860E,867162027426394,gv300wins,,..."
441,2019/10/02 9:10:11 AM,INPUT_CHANGED,"+RESP:GTDIS,27860E,867162027426394,gv300wins,,..."
442,2019/10/02 9:10:02 AM,INPUT_CHANGED,"+RESP:GTDIS,27860E,867162027426394,gv300wins,,..."
444,2019/10/02 9:09:20 AM,INPUT_CHANGED,"+RESP:GTDIS,27860E,867162027426394,gv300wins,,..."
445,2019/10/02 9:09:03 AM,INPUT_CHANGED,"+RESP:GTDIS,27860E,867162027426394,gv300wins,,..."
447,2019/10/02 9:08:09 AM,INPUT_CHANGED,"+RESP:GTDIS,27860E,867162027426394,gv300wins,,..."
448,2019/10/02 9:08:08 AM,INPUT_CHANGED,"+RESP:GTDIS,27860E,867162027426394,gv300wins,,..."
449,2019/10/02 9:08:06 AM,INPUT_CHANGED,"+RESP:GTDIS,27860E,867162027426394,gv300wins,,..."
450,2019/10/02 9:08:05 AM,INPUT_CHANGED,"+RESP:GTDIS,27860E,867162027426394,gv300wins,,..."

# Separación de Columna GTIDA

In [11]:
GTIDAsentence = GTIDA["Sentence"].str.split(pat=",",expand= True)

GTIDAsentence.columns =["Tipo","Protocol Version","Unique iD","Device Name","Reserved","ID","ID Report type","Number","GNSS Accuracy","Speed","Azimuth","Altitude"
                                       ,"Longitud","Latitud","GNSS Utc time","MCC","MNC","LAC","Cell ID","Reserved","Mileage","Reserved","Reserved","Reserved","Reserved","Send time","Count Number"]
GTIDAsentence.head()

,Tipo,Protocol Version,Unique iD,Device Name,Reserved,ID,ID Report type,Number,GNSS Accuracy,Speed,...,LAC,Cell ID,Reserved,Mileage,Reserved,Reserved,Reserved,Reserved,Send time,Count Number
130,+RESP:GTIDA,27860E,867162027426394,gv300wins,,01FD112D010000F2,0,1,0,0.0,...,853D,B891C,00,0.4,,,,,20191001155257,13BD$
133,+RESP:GTIDA,27860E,867162027426394,gv300wins,,01FD112D010000F2,0,1,0,0.0,...,853D,B891C,00,0.4,,,,,20191001155255,13BA$
159,+RESP:GTIDA,27860E,867162027426394,gv300wins,,01FD112D010000F2,0,1,0,0.0,...,853D,B891C,00,0.4,,,,,20191001153225,13A0$
160,+RESP:GTIDA,27860E,867162027426394,gv300wins,,01FD112D010000F2,0,1,0,0.0,...,853D,B891C,00,0.4,,,,,20191001153222,139F$
178,+RESP:GTIDA,27860E,867162027426394,gv300wins,,01FD112D010000F2,0,1,0,0.0,...,853D,B891C,00,0.4,,,,,20191001151724,138D$

In [18]:
#exportar data a excel
ruta = "F:\aanalyzeData1.xlsx"
GTIDAsentence.to_excel(ruta)

# Contabilizar Datos

In [12]:
GTIDAsentence.describe()

,Tipo,Protocol Version,Unique iD,Device Name,Reserved,ID,ID Report type,Number,GNSS Accuracy,Speed,...,LAC,Cell ID,Reserved,Mileage,Reserved,Reserved,Reserved,Reserved,Send time,Count Number
count,26,26,26,26,26,26,26,26,26,26,...,26,26,26,26,26,26,26,26,26,26
unique,1,1,1,1,1,1,1,1,1,2,...,1,2,1,1,1,1,1,1,26,26
top,+RESP:GTIDA,27860E,867162027426394,gv300wins,,01FD112D010000F2,0,1,0,0.0,...,853D,B891C,00,0.4,,,,,20191002141211,137A$
freq,26,26,26,26,26,26,26,26,26,20,...,26,22,26,26,26,26,26,26,1,1

# Separación de Columna GTDIS

In [13]:
GTDISsentence = GTDIS["Sentence"].str.split(pat=",",expand= True)

GTDISsentence.columns =["Tipo","Protocol Version","Unique_iD","Device_Name","Reserved","Report ID/Report type","Number","GNSS Accuracy","Speed","Heading","Altitude"
                                        ,"Longitud","Latitud","GNSS_Utc_time","MCC","MNC","LAC","Cell ID","Reserved","Mileage","Send time","Count number"]
GTDISsentence.head()

,Tipo,Protocol Version,Unique_iD,Device_Name,Reserved,Report ID/Report type,Number,GNSS Accuracy,Speed,Heading,...,Latitud,GNSS_Utc_time,MCC,MNC,LAC,Cell ID,Reserved,Mileage,Send time,Count number
114,+RESP:GTDIS,27860E,867162027426394,gv300wins,,21,1,0,0.0,121,...,-0.207057,20191001160459,0740,0000,853D,B891C,00,0.4,20191001160605,13CD$
115,+RESP:GTDIS,27860E,867162027426394,gv300wins,,20,1,0,0.0,121,...,-0.207057,20191001160459,0740,0000,853D,B891C,00,0.4,20191001160540,13CC$
131,+RESP:GTDIS,27860E,867162027426394,gv300wins,,21,1,0,0.0,121,...,-0.207057,20191001155247,0740,0000,853D,B891C,00,0.4,20191001155256,13BC$
132,+RESP:GTDIS,27860E,867162027426394,gv300wins,,20,1,0,0.0,121,...,-0.207057,20191001155247,0740,0000,853D,B891C,00,0.4,20191001155256,13BB$
146,+RESP:GTDIS,27860E,867162027426394,gv300wins,,21,1,5,0.0,121,...,-0.207057,20191001154229,0740,0000,853D,B891C,00,0.4,20191001154229,13AD$

In [16]:
#pip install openpyxl

Collecting openpyxl
  Downloading https://files.pythonhosted.org/packages/6f/af/88ff9eef0b8f665aee1111ac6cede5ad12190c5bd726242bd2b26fc21b32/openpyxl-3.0.0.tar.gz (172kB)
     |████████████████████████████████| 174kB 24.5MB/s
Collecting jdcal (from openpyxl)
  Downloading https://files.pythonhosted.org/packages/f0/da/572cbc0bc582390480bbd7c4e93d14dc46079778ed915b505dc494b37c57/jdcal-1.4.1-py2.py3-none-any.whl
Collecting et_xmlfile (from openpyxl)
  Downloading https://files.pythonhosted.org/packages/22/28/a99c42aea746e18382ad9fb36f64c1c1f04216f41797f2f0fa567da11388/et_xmlfile-1.0.1.tar.gz
Building wheels for collected packages: openpyxl, et-xmlfile
  Building wheel for openpyxl (setup.py) ... done
  Stored in directory: /home/jovyan/.cache/pip/wheels/34/ee/6c/1279f7b70ea72432c2cef15dd3d915477cb3771d1618f6b8ef
  Building wheel for et-xmlfile (setup.py) ... done
  Stored in directory: /home/jovyan/.cache/pip/wheels/2a/77/35/0da0965a057698121fc7d8c5a7a9955cdbfb3cc4e2423cad39
Successfully built openpyxl et-xmlfile
Installing collected packages: jdcal, et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.0.1 jdcal-1.4.1 openpyxl-3.0.0
Note: you may need to restart the kernel to use updated packages.

In [17]:
#exportar data a excel
ruta = "F:\aanalyzeData.xlsx"
GTDISsentence.to_excel(ruta)

In [30]:
print (GTDISsentence.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28 entries, 114 to 450
Data columns (total 22 columns):
Tipo                     28 non-null object
Protocol Version         28 non-null object
Unique_iD                28 non-null object
Device_Name              28 non-null object
Reserved                 28 non-null object
Report ID/Report type    28 non-null object
Number                   28 non-null object
GNSS Accuracy            28 non-null object
Speed                    28 non-null object
Heading                  28 non-null object
Altitude                 28 non-null object
Longitud                 28 non-null object
Latitud                  28 non-null object
GNSS_Utc_time            28 non-null object
MCC                      28 non-null object
MNC                      28 non-null object
LAC                      28 non-null object
Cell ID                  28 non-null object
Reserved                 28 non-null object
Mileage                  28 non-null object
Send time                28 non-null object
Count number             28 non-null object
dtypes: object(22)
memory usage: 5.0+ KB
None

In [31]:
GTDISsentence.describe()

,Tipo,Protocol Version,Unique_iD,Device_Name,Reserved,Report ID/Report type,Number,GNSS Accuracy,Speed,Heading,...,Latitud,GNSS_Utc_time,MCC,MNC,LAC,Cell ID,Reserved,Mileage,Send time,Count number
count,28,28,28,28,28,28,28,28,28,28,...,28,28,28,28,28,28,28,28,28,28
unique,1,1,1,1,1,2,1,2,2,1,...,3,6,1,1,1,1,1,1,19,28
top,+RESP:GTDIS,27860E,867162027426394,gv300wins,,21,1,0,2.7,121,...,-0.206791,20191001162744,0740,0000,853D,B891C,00,0.4,20191002140803,132F$
freq,28,28,28,28,28,14,28,26,18,28,...,18,18,28,28,28,28,28,28,4,1